<script>
    window.oc.cart = {
        count: 0,
        addToCart() {
            window.oc.cart.count += 1;
            window.oc.events.fire('cartChange');
        },
    };
</script>

<div>
    <oc-component href='http://localhost:3030/header/1.0.0/?userId=1'></oc-component>
    <oc-component href='http://localhost:3030/mainscreen/1.0.0/?userId=1'></oc-component>
    <oc-component href='http://localhost:3030/footer/1.0.0/'></oc-component>
</div>