div(style='background-color:  #3b246c; color: #ffffff; margin-top: 30px; padding: 30px; display: flex; flex: 1; flex-direction: row; justify-content: space-between')
    h1 Footer
    h3 Footer in Jade